{% extends "base.html" %}
{% block title %}Film List{% endblock %}
{% block content %}
    <h2>Film List</h2>
    <a href="{{ url_for('add_film') }}">Add New Film</a>
    <ul>
        {% for film in films %}
            <li>
                <div>
                    <img src="{{ url_for('static', filename='uploads/' + film['image']) }}" width="100" />
                    <strong>{{ film['title'] }}</strong>: {{ film['opinion'] }}
                </div>
                <form method="post" action="{{ url_for('delete_film_route', film_id=film['_id']) }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
